.my-works-item-box {
  @apply m-2 h-[3.3em] md:h-[10em] bg-gray-800 rounded-md overflow-hidden cursor-pointer md:flex-1 border border-primary/50;
  flex-grow: 1;
  flex-shrink: 1;
  transition: all 0.3s;

  .my-works-item-container {
    @apply p-4 h-full w-full flex flex-col relative;
    transition: all 0.3s;
  }

  .header {
    @apply font-bold bg-black/80 p-2 mb-1 w-fit text-white;
    //height: 0;

    transition: all 0.3s;
  }

  .description {
    @apply text-gray-300 ml-2;
    opacity: 0;
    transition: all 0.3s;
  }

  .link-container {
    @apply absolute bottom-0 right-0 justify-end p-2;
    opacity: 0;

    transition: all 0.3s;

    .link {
      @apply bg-primary p-1 px-2 rounded-md cursor-pointer text-black hover:scale-90;
      transition: transform 0.2s;
      pointer-events: none;

      &::after {
        content: " >";
      }
    }
  }

  &.box-active {
    @apply h-[10em];
    flex-grow: 2;

    .my-works-item-container {
      @apply backdrop-filter-none md:backdrop-blur bg-black/80;
      //background-color: #00000088;
      //backdrop-filter: blur(5px);

      .header {
        @apply bg-transparent
      }

      .description {
        opacity: 1;
      }

      .link-container {
        opacity: 1;
        //pointer-events: auto;

        .link {
          pointer-events: auto !important;
        }
      }
    }
  }
}
